@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(RobotoCondensed-Regular.ttf);
}

body {
    display: flex;
    background-attachment: fixed;
    background-image: linear-gradient(to top right, #69A6FF, #5FBBE8, #75F5FF, #5FE8CB, #61f1a9d0);
}

#cont {
    margin: 0.1%;
    width: 1365px;
}

#container {
    height: auto;
    display: flex;
    width: 1353px;
}

#logo {
    font-family: 'Poppins';
    font-size: 11pt;
    margin: 0.3%;
    color: white;
    /* margin-right: 44%; */
    margin-right: auto;
}

#menu {
    margin: 1.3% 1% auto 40%;
}

#position {
    margin: 1% auto auto 5%;
    width: auto;
}

#buttom {
    text-decoration: none;
    color: white;
    padding: 13px;
    font-family: 'Poppins'
}

#buttom:hover {
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    background-color: #24be8b96;
    border-radius: 15px;
}

#buttomC {
    text-decoration: none;
    color: white;
    padding: 9px;
    font-family: 'Poppins';
    font-size: 13pt;
    border: 2px solid rgb(9, 207, 214);
    border-radius: 15px;
}

#buttomC:hover {
    border: 2px solid rgb(7, 129, 177);
}

#login {
    margin: auto;
}

#text {
    font-family: 'Poppins';
    color: white;
    font-size: 13pt;
}

p {
    margin-left: 1%;
}

#box-LoginAndPass {
    margin-top: 2%;
    font-family: 'Poppins';
    color: white;
    font-size: 10pt;
}

#infos {
    margin: 4% 0% 0% 9%;
    background-color: #5fbae88f;
    border-radius: 24px;
    width: 400px;
    height: auto;
    text-align: center;
}

#camps {
    margin-top: 5%;
}

#send {
    /* margin: 12%; */
    margin: 10% 2% 0%;
    text-align: right;
}

.sendBTN {
    background-color: #5FE8CB;
    padding: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    color: white;
}

.inputConfigs {
    padding: 15px;
    border-radius: 25px;
    background-color: white;
    outline: none;
    border: none;
    font-size: 15pt;
    margin-top: 7%;
}

::placeholder {
    text-align: center;
    /* color: rgba(0, 110, 255, 0.747); */
    font-family: 'Poppins';
}

.p {
    margin-top: 2.5%;
}

a {
    font-family: 'Poppins';
    color: white;
}

a:hover {
    color: #298873;
}

#boxImg {
    margin-right: 8%;
    margin-top: 4%;
}

footer {
    font-family: 'Poppins';
    color: white;
    text-align: right;
    margin-top: 2%;
}

/* mobile version */

@media (max-width: 500px) {
    #container {
        flex-direction: column;
        height: auto;
        /* width: 499px; */
        width: 396px;
        margin-top: 2%;
    }

    #logo {
        margin-left: 1.7%;
    }

    #menu {
        margin: 1.5% 0% 1.7% 0.9%;
    }

    #position {
        margin: 1.5%;
    }

    #login {
        margin: 0%;
        width: 357px;
    }

    #box-LoginAndPass {
        margin: 1%;
        font-size: 9pt;
        width: 310px;
    }

    #infos {
        margin: 1% 0% auto 1%;
        width: 370px;
    }

    #buttom {
        padding: 6px;
        font-size: 13px;
    }

    #buttomC {
        padding: 6px;
    }
}